@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;600;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 26px;
  font-family: "Roboto Slab", sans-serif;
}

/* Navbar */

nav.bochaperNav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  padding: 10px 40px;
  border-bottom: 2px solid #333;
}
.bochaperNav__logo-container {
  display: flex;
  align-items: center;
  margin-right: auto;
}
.bochaperNav__logo {
  max-height: 60px;
}
a.bochaperNav__link {
  display: block;
  font-size: 18px;
  font-weight: 600;
  padding: 20px 30px;
  margin: 10px;
  text-decoration: none;
  border: 2px solid #333;
  background: #333;
  color: #fff;
  transition: 300ms;
}
a.bochaperNav__link:hover {
  background: #fff;
  color: #333;
}

div.Tabs__tab {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 690px) {
  nav.bochaperNav {
    flex-direction: column;
  }
  a.bochaperNav__link {
    width: 100%;
  }
} ;
